<!-- Le menu contextuel doit être le premier de la page ! -->
<div style="visibility: hidden; position: fixed;" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu"></div>
<div fxFlexFill fxLayout="column">
    <mat-toolbar>
        <mat-progress-bar *ngIf="isLoading; else showSettings" color="primary" mode="indeterminate"> </mat-progress-bar>
        <ng-template #showSettings>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Jira / Story Map</span>
            <mat-form-field>
                <mat-label>ID Filtre Jira</mat-label>
                <input [(ngModel)]="matrixConf.filter" matInput placeholder="Ex: 50300" (change)="initData()" />
                <mat-hint>Le filtre doit être public dans Jira</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Champ en ligne</mat-label>
                <mat-select [(ngModel)]="matrixConf.row" (selectionChange)="updateDataSource()">
                    <mat-option *ngFor="let mc of matrixChoices" [value]="mc">
                        {{ mc.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Champ en colonne</mat-label>
                <mat-select [(ngModel)]="matrixConf.col" (selectionChange)="updateDataSource()">
                    <mat-option *ngFor="let mc of matrixChoices" [value]="mc">
                        {{ mc.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="fill-remaining-space"></span>
            <button *ngIf="!user.isLogged()" mat-button (click)="onLogin()">Connexion <mat-icon>login</mat-icon></button>
            <button *ngIf="user.isLogged()" mat-button (click)="onLogin()">{{user.getLogin()}}<img class="avatar-inner" src="{{user.getAvatarUrl()}}" alt="Profil utilisateur pour {{user.getDisplayName()}}" /></button>

            <button mat-button matTooltip="v{{version}}">A propos... <mat-icon>help_outline</mat-icon></button>
        </ng-template>
    </mat-toolbar>
    <mat-sidenav-container fxFlex>
        <mat-sidenav mode="side">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-slide-toggle labelPosition="before" [(ngModel)]="display.showBacklog">Afficher Backlog ? </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-slide-toggle labelPosition="before" [(ngModel)]="display.showClosed" matTooltip="Sprints en cours et futurs" matTooltipPosition="below">Afficher les terminées ? </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-slide-toggle labelPosition="before" [(ngModel)]="display.miniDisplay">Mini display ? </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-button [matMenuTriggerFor]="jiraPerRowMenu">Jiras par colonnne... <mat-icon>settings</mat-icon></button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-button [matMenuTriggerFor]="epicStatusMenu">Statuts épopées <mat-icon>view_list</mat-icon></button>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" 
                [rowData]="rowData" 
                [columnDefs]="columnDefs" 
                [defaultColDef]="defaultColDef"
                [getRowHeight]="getRowHeight"
                [frameworkComponents]="frameworkComponents"
                (gridReady)="alert($event)">
            </ag-grid-angular>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item disabled><strong>Envoyer vers...</strong></button>
        <button style="text-align: right;" *ngFor="let sprint of getDisplayedCols()" mat-menu-item (click)="moveIssue()">{{sprint.name}}</button>
    </ng-template>
</mat-menu>

<mat-menu #epicStatusMenu="matMenu">
    <button *ngFor="let item of display.epicStatus" mat-menu-item fxLayout="row" fxLayoutAlign="space-between center" (click)="$event.stopPropagation();">
        <span>{{item.name}}</span>
        <mat-slide-toggle [ngModel]="item.show" (click)="$event.preventDefault();"></mat-slide-toggle>
    </button>
</mat-menu>

<mat-menu class="overflowVisible" #jiraPerRowMenu="matMenu">
    <button mat-menu-item class="overflowVisible" fxLayoutAlign="space-between center" (click)="$event.stopPropagation();">
        <span>Backlog</span>
        <mat-slider min="1" [max]="display.miniDisplay ? 10 : 5" thumbLabel step="1" [(ngModel)]="display.jiraPerRowBacklog"></mat-slider>
    </button>
    <button mat-menu-item class="overflowVisible" fxLayoutAlign="space-between center" (click)="$event.stopPropagation();">
        <span>Sprints</span>
        <mat-slider min="1" [max]="display.miniDisplay ? 10 : 5" thumbLabel step="1" [(ngModel)]="display.jiraPerRowOther"></mat-slider>
    </button>
</mat-menu>
