<div id="login-container">
    <form *ngIf="!user.isLogged()" [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <h3>Connexion à Jira</h3>
        <mat-form-field appearance="standard">
            <mat-label>Login</mat-label>
            <input formControlName="login" matInput placeholder="Uxx....">
            <mat-hint>Compte windows</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Mot de passe</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <mat-slide-toggle formControlName="rememberMe" class="small">Se souvenir de moi ?</mat-slide-toggle>
        <div style="margin-top: 20px;">
            <button mat-button mat-dialog-close>Annuler</button>
            <button mat-raised-button [disabled]="loginForm.invalid" type="submit">Connexion !</button>
        </div>
    </form>
    <div *ngIf="user.isLogged()">
        <h3>{{user.getDisplayName()}}</h3>
        <div>&nbsp;</div>
        <button mat-raised-button (click)="doLogout()">Déconnexion</button>
    </div>
</div>