td, th {
    padding: 10px !important;
  }

.mat-cell {
    vertical-align: top;
}

.mat-raised-button, .mat-stroked-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

mat-grid-tile {
  min-width: 200px;
}